<div class="container">
  <div class="row">
    <mat-toolbar>
      <span class="title"> {{setTitle()}} </span>
    </mat-toolbar>
  </div>
  <div class="row align-row">
    <form>
      <mat-form-field>
        <mat-label>{{setInputLabel()}}</mat-label>
        <input matInput  name="textToTranslate" [(ngModel)]="inputText" [placeholder]="isDecoding ?  '..- - ---' : 'Ex. 1 pizza'">
      </mat-form-field>
    </form>
  </div>
  <div class="row">
    <div class="col-12 col-md-6">
      <mat-card ><span class="card-content">{{isDecoding ? morseDecode(inputText) : morseCode(inputText)}}</span></mat-card>
    </div>
  <div class="d-none d-md-block col-md-6">
    <mat-slide-toggle class="switch-mode-desktop" (toggleChange)="switchMode()">{{setSwitchText()}}</mat-slide-toggle>
  </div>
  </div>

  <div class="row d-md-none align-row switch-mode-mobile">
    <mat-slide-toggle (toggleChange)="switchMode()">{{setSwitchText()}}</mat-slide-toggle>
  </div>
  </div>
